#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#link{
  color: blueviolet;
}

#image{
  width: 300px;
  height: 240px;
}

#giphy-embed{
  width: 240px;
  height: 160px;
}
div {
  background-color: deepskyblue;
}

b{
  padding: 15px;
  font-family: "Century Gothic", sans-serif;
}

.text{
  font-family: "Arial", sans-serif;
  padding: 12px;
}

h1{
  margin: 5px;
  color: aqua;
}

#myShop{
  color: white;
  margin: 5px;
  align-items: center;
  font-size: 24px;
  font-family: "Bahnschrift", sans-serif;
  padding: 18px;
  border: 2px solid;
  width: 35%;
  text-align: center;
}

#fruits{
  font-size: 30px;
  font-family: "Bahnschrift", sans-serif;
}

.media{
  margin: 15px;
}

#Nr1{
  color: gold;
}

#Nr2{
  color: silver;
}

#Nr3{
  color: sandybrown;
}

footer{
  font-family: "Segoe UI", sans-serif;
}
